.App {
  text-align: center;
}

/* .dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
} 
 .ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}  */

.voting-buttons-container{
  width: 50%;
  margin: auto;
 
}

#homepage-button{
  width: 32%;
  margin-top: 25px;
}

.homepage-button-container{
  width: 75%;
  margin: auto;
}

#menu-container{
  display: inline-block;
  margin: auto;
}

#trending-menu{
  width: 100%;
  margin: auto;
}

.ui.items>.item>.content>.description {
    max-width: 100%; 
}

#trending-content-container{
  width: 70%;
}
