.App {
  text-align: center;
}

#homepage-news-image{
  width: 100%; 
  height: 380px;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

#modal-description{
  font-size: 16.5px;
}

.voting-buttons-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.voting-buttons{
  display: inline-block; 
}

#homepage-button{
  width: 32%;
  margin-top: 25px;
}

.homepage-button-container{
  width: 75%;
  margin: auto;
}

#card-image-container{
  height: 250px;
  max-height: 250px;
  width: 100%;
}

#card-image{
  height: 100%;
  width: 100%;
}

#menu-container{
  display: inline-block;
  margin: auto;
}

.ui.items>.item>.content>.description {
    max-width: 100%; 
}

.trending-container{
  width: 82%;
  margin: auto;
}

#trending-content-container{
  width: 70%;
}

#trending-image{
  overflow-y: hidden;
  max-height: 89px;
}

.ui.menu .header.item{
  background-color: cornflowerblue;
  width: 130px;
}

.about {
  font-size: 24px;
  width: 80%;
  margin: auto;
  margin-top: 32px;
}

#newspaper-gif{
  width: 640px;
  height: 380px;
}

#searchbar{
  margin-bottom: 50px;
}